dist
tmp
out-tsc
dist-server
static
server.js
prerender.js
npm-debug.log
Dockerfile*
docker-compose*
.dockerignore
.git
.gitignore
README.md
LICENSE
.vscode
.env
.vs
*/bin
*/obj
**/node_modules
**/.cache
